@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #121212;
  /* overflow-x: hidden; */
}
img {
width: 100%;
border-radius: 0.75rem;
transition: transform .5s;
}

img:hover {
transform: scale(1.1);

}

.masonry {

column-count: 4;
column-gap: 16px;
}

.masonry .mItem {
display: inline-block;
margin-bottom: 16px;
width: 100%;
}

@media (max-width: 1199px) {
.masonry {
column-count: 3;
}
}

@media (max-width: 991px) {
.masonry {
column-count: 2;
}
}

@media (max-width: 767px) {
.masonry {
column-count: 1;
}
}