@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%);
    color: black;
}

.footer a {
    text-decoration: none;
    color: darkgreen;
}

.site {
  margin: 0;
  /* background: rgb(2,0,36);
background: linear-gradient(22deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  

background-image: url(./bg-img.jpg);
}

.site a {
  text-decoration: none;
}

.main {
  margin: auto;
  width: 90%;
  margin-top: 30px;
  
}



img {
width: 100%;
border-radius: 0.75rem;
transition: transform 1s;
margin-bottom: 20px;
}

img:hover {
transform: scale(1.1);
overflow: hidden;

}

.masonry {
column-count: 4;
column-gap: 16px;
overflow: hidden;

}

.masonry .mItem {
display: inline-block;
margin-bottom: 16px;
width: 100%;
}

@media (max-width: 1199px) {
.masonry {
column-count: 3;
}
}

@media (max-width: 991px) {
.masonry {
column-count: 2;
}
}

@media (max-width: 767px) {
.masonry {
column-count: 1;
}
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #252225 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #252225;
    border-radius: 10px;
    border: 0px none #e61919;
  }



  
